html,
body {
  color: #59443F;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 10px;
}

.about__container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  @extend %school-400;
  color: #080606;
  font-size: 40px;
  line-height: 40px;
}

.burger {
  // z-index: 2;
  display: none;
  // position: absolute;
  // width: 34px;
  // height: 41px;
  // left: 0;
  // right: 0;
  // top: 50px;
  // margin: 0 auto;

  &__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  &__btn-line {
    background: #000;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
  }
}

.burger-mobile {
  &__list {
    padding: 20px;
    position: absolute;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    background-color: #59443F;
    transform: translateY(-120%);
    z-index: 2;
    transition: all 0.6s;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__list.active {
    transform: translateY(100%);
  }

  &__item+&__item {
    margin-top: 20px;
  }
}


.burger__btn-line--1.active {
  transform: translateY(11px) rotate(-45deg);
}

.burger__btn-line--2.active {
  display: none;
}

.burger__btn-line--3.active {
  transform: rotate(45deg);
}



// &__item-link {
//   &:hover {
//     path {
//       fill: #fff;
//     }
//   }
// }

//===================================================================

.tabs-block {
  margin: 0px 0px 50px 0px;

  // .tabs-block__nav
  &__nav {
    display: flex;
    margin: 0px -2px;
  }

  // .tabs-block__item
  &__item {
    flex: 0 1 33.333%;
    margin: 0px 2px;
    background-color: #7a956b;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &._active {
      background-color: #77608d;
    }
  }

  // .tabs-block__body
  &__body {
    padding: 20px 0px 0px 0px;
  }

  // .tabs-block__block
  &__block {
    display: none;

    &._active {
      display: block;
    }
  }
}

//============================================================================

.spollers-block {
  margin: 0px 0px 50px 0px;

  // .spollers-block__item
  &__item {
    margin: 0px 0px 20px 0px;

    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }

  // .spollers-block__title
  &__title {
    background-color: #794f45;
    cursor: pointer;
    padding: 20px 70px 20px 20px;
    position: relative;

    &::before {
      content: "";
      width: 20px;
      background-color: #fff;
      height: 2px;
      transition: transform 0.3s ease 0s;
      transform: translate(0, -50%) rotate(-45deg);
      position: absolute;
      right: 15px;
      top: 50%;
    }

    &::after {
      content: "";
      width: 20px;
      background-color: #fff;
      height: 2px;
      transition: transform 0.3s ease 0s;
      transform: translate(0, -50%) rotate(45deg);
      position: absolute;
      right: 29px;
      top: 50%;
    }

    &._active {
      &::before {
        transform: translate(0, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(0, -50%) rotate(-45deg);
      }
    }
  }

  // .spollers-block__body
  &__body {
    display: none;
    padding: 20px 0px 0px 0px;

    &._active {
      display: block;
    }
  }
}

//======================================================================