html,
body {
  color: #59443F;
}




.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: #080606
}


// &__item-link {
//   &:hover {
//     path {
//       fill: #fff;
//     }
//   }
// }