@media (max-width: 1700px) {

  // .header-menu__item+.header-menu__item {
  //   margin-left: 60px;
  // }
  .header-menu__list {
    column-gap: 60px;
  }

}


@media (max-width: 1600px) {
  .slick-dots {}

  .top-slider__tel {}
}


@media (max-width: 1400px) {

  .top-slider__title {}

  .slick-dots {}

  .top-slider__info-inner {
    // padding-left: 100px;
  }
}


@media (max-width: 1300px) {
  .header-menu {
    // &__item+&__item {
    //   margin-left: 45px;
    // }

    .header-menu__list {
      column-gap: 45px;
    }
  }

  .top-slider__title {}

  .top-slider__info-inner {
    // bottom: 450px;
    // padding-left: 30px;
  }

  .top-slider__btn {
    margin-bottom: 17px;
  }

  .top-slider__social-grup {
    display: block;
  }

  .top-slider__social-list {
    margin-bottom: 20px;
  }
}

@media (max-width: 1250px) {
  .top-slider__item {
    flex-direction: column;
    align-items: center;
  }

  .top-slider__title {
    max-width: 1150px;
    padding-top: 50px;
    padding-left: 0;
  }

  .top-slider__img {
    max-width: calc(100vw /100 * 90);
    max-height: calc(100vw /100 * 91);
  }

}

@media (max-width: 1150px) {
  .header__inner {
    font-size: 17px;
  }

  .geo button {
    font-size: 17px;
  }

  .top-slider__btn {
    background-color: rgba($accent, 0.7);
    box-shadow: rgba($accent, 0.7);
  }


  .directions__inner {
    grid-template-columns: repeat(3, 1fr);
  }

  .top-slider__title {
    padding-top: 50px;
  }

  .top-slider__inner {
    text-align: center;
  }

  .top-slider__imgbox {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1050px) {

  .top-slider .top-slider__info {
    bottom: 60px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-slider__btn {
    // left: 0;
    // right: 0;
  }
}

@media (max-width: 950px) {

  .top-slider .top-slider__info {
    bottom: 60px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-slider .top-slider__info-inner {
    max-width: 300px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: rgba(red, 0.1);
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .top-slider .top-slider__social-link {
    display: none;
    width: 0;
  }

  .top-slider .top-slider__btn {
    font-size: 16px;
    padding: 10px 50px;
    margin-bottom: 30px;
    background-color: rgba($accent, 0.7);
    box-shadow: rgba($accent, 0.7);
  }

  .top-slider .top-slider__tel {
    margin-right: 0;
    font-size: 16px;
    background-color: rgba(#fff, 0.6);
    border-radius: 10px;
  }

  .top-slider__title {
    padding-left: 0;
  }

  .slick-dots {
    button {
      display: none;
    }
  }

  .directions__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .directions {
    margin-bottom: 50px;
  }

  .top-slider {
    margin-bottom: 50px;
  }

  .container__info {
    max-width: 20px;
  }
}

@media (max-width: 800px) {
  .footer__inner {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }

  .tabs-content,
  .tabs-content__active {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      min-height: 400px;
    }
  }

  .tabs-content__item-2 {
    grid-column: auto;
    grid-row: auto;
  }

  .tabs-content__item-4 {
    grid-column: auto;
  }

  .tabs-content__item-9 {
    grid-column: auto;
  }

  .partners-list__item {
    font-size: 20px;
  }

  .tabs-container.tabs-container__partners {
    padding-top: 0;
  }

  .tabs-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 700px) {
  .top-slider__title {
    max-width: 600px;
  }

  .header-menu {
    display: none;
  }

  .burger {
    display: block;
    order: 1;
    margin-left: 22px;
  }

}

@media (max-width: 600px) {

  .top-slider .top-slider__item {
    height: auto;
  }


  .top-slider__title {
    margin-bottom: 30px;
  }


  .directions__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .directions-item {
    max-width: 100%;
  }

  .top-trends__content {
    padding-bottom: 20px;
  }

  .partners-list {
    display: none;
  }

  .tabs {
    font-size: 20px;
    padding-top: 15px;
  }

  .tabs-wrapper {
    height: 70px;
  }

  .header-slider__img {
    opacity: 0.7;
  }

  .title-1,
  .title-3 {
    font-weight: 700;
  }

  .top-trends__title,
  .top-trends__sub-title {
    font-size: 26px;
    line-height: 38px;

    &::before {
      font-size: 54px;
      top: -15px;
      left: 188px;
    }
  }

  .top-trends__content {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 550px) {

  .tabs-content,
  .tabs-content__active {
    grid-template-columns: repeat(1, 1fr);

    &__item {
      min-height: 500px;
    }
  }
}



@media (max-width: 500px) {

  .top-slider__item {
    height: auto;
    gap: 15px;
    justify-content: center;
  }


  .burger-mobile__list {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .top-slider__title {
    padding-top: 60px;
  }
}

@media (max-width: 400px) {
  .geo {
    position: absolute;
    bottom: -45px;
    left: 0
  }
}