// @mixin adaptive-font ($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $addMobSize: $addSize +$addSize * 0.7;

//   @media (max-width: 767px) {
//     font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
//   }

//   @media (min-width: 767px) {
//     font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
//   }


//Адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize, $maxSize) {
  $addSize: $pcSize - $mobSize;

  @if $maxSize==1 {
    //Только если меньше контейнера
    font-size: $pcSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $maxSize==2 {
    //Только если больше контейнера
    font-size: $pcSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Всегда
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}


//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
  $addSize: $pcSize - $mobSize;

  @if $maxSize==1 {
    //Только если меньше контейнера
    #{$indentType}: $pcSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $maxSize==2 {
    //Только если больше контейнера
    #{$indentType}: $pcSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Всегда
    #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}