@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %futura-700;
  font-size: 20px;
  line-height: 20px;
  color: #C3B9B5;
  padding: 10px 0;
}

.logo {
  &__img {
    display: inline-block;
  }
}

.header-menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item+&__item {
    margin-left: 80px;
  }

  &__link {
    transition: all 0.4s;
  }

  &__link:hover {
    color: #59443F;
  }
}

.geo {}


.top-slider {
  position: relative;

  &__item-content {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 250px;
    padding-left: 265px;
    height: 100vh;
  }

  &__title {
    @extend %school-400;
    font-size: 80px;
    line-height: 110px;
    max-width: 645px;
    margin-bottom: 50px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 834px;
    max-height: 786px;

    img {
      object-fit: cover;
    }
  }

  &__btn {
    margin-bottom: 80px;
    padding: 20px 75px;
    border-radius: 33px;
    background-color: $accent;
    border: none;
    @extend %futura-700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    box-shadow: 0px 4px 20px #FFC59E;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #59443F;
      box-shadow: 0px 4px 20px #59443F;
    }
  }

  &__info {
    z-index: 10;
    margin: 0 auto;
  }

  &__info-inner {
    position: absolute;
    bottom: 100px;
    max-width: 1500px;
    width: 100%;
    padding-left: 250px;

  }

  &__social-grup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-list {
    display: flex;

  }

  &__tel {
    @extend %futura-700;
    font-size: 24px;
    line-height: 30px;
    color: $hover;
  }

  &__social-item+&__social-item {
    margin-left: 50px;
  }

  &__social-item:hover {
    svg {
      fill: #59443F;
    }
  }
}

.button {
  padding: 10px 20px;
  background-color: yellow;
  margin: 30px auto 0;
  display: block;
}

.svet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  gap: 15px;
}

.color1 {
  border-radius: 50%;
  border: 1px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
}

.color2 {
  border-radius: 50%;
  border: 1px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.color3 {
  border-radius: 50%;
  border: 1px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: green;
}


@import "media";